<h3 align="center">Name of the society</h3><br/>
<div class = "container-fluid">
<div class = "col-md-3"></div>
<div class = "col-md-4 col-md-offset-1">
	<!-- <form class = 'form-control'> -->
	<form  ng-submit=addUser(post) data-ng-init = "post.total1=0; post.total2 = 0; post.total3 = 0; post.total4 = 0; post.total5 = 0; post.total6 = 0">
		<div class="form-inline">
		<input type="text" class="form-control" ng-model="post.name" required placeholder="Name"/>
		<input type="text" class="form-control pull-right" ng-model="post.flat" required placeholder="Flat no"/>
		</div>
		<br/>
		<div>
		<textarea class='form-control' ng-model = 'post.address' required placeholder='Address'></textarea>
		<!-- <input type="text" class="form-control" ng-model="" placeholder="Address"/> -->
		</div><br/>
		<div class="form-inline">
		<!-- <input type="text" class="form-control" ng-model="post.year" placeholder="Year"/> -->
		<!-- <label>Year:&nbsp</label><select ng-model='post.year' placeholder='Year' class = 'form-control'>
			<option>2012</option>
			<option>2013</option>
			<option>2014</option>
			<option>2015</option>
			<option>2016</option>
		</select> -->
		<label>Year: &nbsp;</label>
		<select ng-model='post.year' placeholder='Year' required class = 'form-control'>
			<option>2010</option>
			<option>2011</option>
			<option>2012</option>
			<option>2013</option>
			<option>2014</option>
			<option>2015</option>
			<option>2016</option>
		</select>
		<label style="padding-left:110px;">Month: &nbsp;</label>
		<select ng-model='post.month' placeholder='Year' required class = 'form-control pull-right'>
			<option>Jan</option>
			<option>Feb</option>
			<option>Mar</option>
			<option>Apr</option>
			<option>May</option>
			<option>Jun</option>
			<option>Jul</option>
			<option>Aug</option>
			<option>Sep</option>
			<option>Oct</option>
			<option>Nov</option>
			<option>Dec</option>
		</select>
		</div><br/>
		
		<div class ="form-inline">
			<label>Monthly charges: </label><input type="text" ng-model="post.total1" required 
class="form-control pull-right"/>
		</div><br>
		<div class ="form-inline">
			<label>Sinking Fund: </label><input type="text" ng-model="post.total2" required 
class="form-control pull-right"/>
		</div><br/>
		<div class ="form-inline">
			<label>Parking charges: </label><input type="text" ng-model="post.total3" required 
class="form-control pull-right"/>
		</div><br/>
		<div class ="form-inline">
			<label>NOC: </label><input type="text" ng-model="post.total4" 
class="form-control pull-right"/>
		</div><br/>
		<div class ="form-inline">
			<label>Fine: </label><input type="text" ng-model="post.total5"
class="form-control pull-right"/>
		</div><br/>
		<div class ="form-inline">
			<label>Miscellaneous charges: </label><input type="text" ng-model="post.total6"
class="form-control pull-right"/>
		</div><br/>

		<div class ="form-inline">
			<label>Grand total: </label>
			<label class = ' pull-right'>{{parseFloat(post.total1)+parseFloat(post.total2)+parseFloat(post.total3)+parseFloat(post.total4)+parseFloat(post.total5)+parseFloat(post.total6)}} </label>
			
		</div>
		
		<br/><br/>
		<div class="form-inline">
			<button class='btn btn-success'>Submit</button>
			<button class='btn btn-danger pull-right' role = 'reset'>Cancel</button>
		</div>
		<br/>
	</form>


</div>
<div class = "col-md-3 col-md-offset-1"></div>


</div>
